<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWyHrzlLBRPWWyHt3eZOXHvWKipaL_s6g</string>
	<key>GCM_SENDER_ID</key>
	<string>915321381233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fairwayexchange.app</string>
	<key>PROJECT_ID</key>
	<string>fairway-exchange</string>
	<key>STORAGE_BUCKET</key>
	<string>fairway-exchange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915321381233:ios:98159f4fa47856e244d6d0</string>
</dict>
</plist>